<div class ="container" *ngFor="let item of itemsjson">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="jumbotron">
          <h1>{{item.name}}</h1>
        </div>
      </div>
    </div>
  </div> 
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-head">
      <div class = "col-sm-3"></div>
        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control input-lg" type="text" id="inputLarge" #inputLarge>
          </div>
        </div>
        <div class = "navbar-brand">
          <div class="col-sm-2">
            <div class="form-group">
              <button type="submit" class="btn btn-primary" (click)="submitData(inputLarge.value)">Submit</button>
            </div>
          </div>
        </div>
      <div class = "col-sm-1"></div>
    </div>
  </div>
</nav>